# Example of a secrets.properties file

finance.database.url=jdbc:postgresql://192.168.1.87:5432/finance
finance.database.username=orri
finance.database.password=******

alphavantage.url=https://www.alphavantage.co/query
alphavantage.apikey=****************

finnhub.url=https://finnhub.io/api/v1
finnhub.apikey=****************************************
